## Covid-19 Data Exploration and Cleanup

In [8]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import json


# Import API key
#from api_keys import weather_api_key
from api_keys import g_key



# Output File (CSV), need 3 files for 3 sets of data for comparison
output_data_file_1 = "output_data/covid_df_1.csv"
output_data_file_2 = "output_data/covid_df_2.csv"
output_data_file_3 = "output_data/covid_df_3.csv"

In [6]:
# Load file 1 to read
covid_data_1 = "Resources/daily.csv"

# Read csv file into DataFrame, set state as index
covid_df_1 = pd.read_csv(covid_data_1, index_col = "state")
covid_df_1

,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
state,,,,,,,,,,,,,,,,,,,,,
AK,20200717,2081.0,163333.0,NaN,32.0,NaN,NaN,NaN,0.0,NaN,...,165414,0,0,e904def0e1f67ac528572f0506eef868c163a3f3,0,0,0,0,0,NaN
AL,20200717,63091.0,500024.0,NaN,1416.0,7584.0,NaN,967.0,NaN,521.0,...,563115,35,0,5bb063f5f4fe7c02d748b1fee5b811ac19d8f8ba,0,0,0,0,0,NaN
AR,20200717,31762.0,375735.0,NaN,464.0,2070.0,NaN,NaN,97.0,298.0,...,407497,12,76,c1ffb0bb728cd1ac03f834ec70d20070b443f395,0,0,0,0,0,NaN
AS,20200717,0.0,1037.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1037,0,0,b0c23fca3c4bb610a1625c60aca491eab6a71161,0,0,0,0,0,NaN
AZ,20200717,138523.0,626445.0,NaN,3466.0,6402.0,944.0,NaN,687.0,NaN,...,764968,91,106,fc227a78fd73620678a4d4cb836c128b38541778,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WA,20200126,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,7acb526e14f20a29cc74a0b32a37328bc6eac6c2,0,0,0,0,0,NaN
WA,20200125,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,9b52ca94dd2a996822542ea5f17a7363e7ad91cf,0,0,0,0,0,NaN
WA,20200124,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,094154f68e74bfc30b977cdee888f9c07be4360e,0,0,0,0,0,NaN
WA,20200123,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,e16af2a6a8f060355ff5ba499a28309a262c0b1e,0,0,0,0,0,NaN
WA,20200122,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8f8db794931706272489cddd51e917a4a69c8c9b,0,0,0,0,0,NaN

In [9]:
# Load file 2 to read
covid_data_2 = "Resources/us-counties.csv"

# Read csv file into DataFrame, set state as index
covid_df_2 = pd.read_csv(covid_data_2, index_col = "state")
covid_df_2

                 date      county     fips  cases  deaths
state
Washington  1/21/2020   Snohomish  53061.0      1       0
Washington  1/22/2020   Snohomish  53061.0      1       0
Washington  1/23/2020   Snohomish  53061.0      1       0
Illinois    1/24/2020        Cook  17031.0      1       0
Washington  1/24/2020   Snohomish  53061.0      1       0
...               ...         ...      ...    ...     ...
Wyoming     7/19/2020  Sweetwater  56037.0    173       2
Wyoming     7/19/2020       Teton  56039.0    208       1
Wyoming     7/19/2020       Uinta  56041.0    221       0
Wyoming     7/19/2020    Washakie  56043.0     43       5
Wyoming     7/19/2020      Weston  56045.0      4       0

[350365 rows x 5 columns]

In [10]:
# Load file 3 to read
covid_url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"

# Read csv file into DataFrame, set state as index
covid_df_3 = pd.read_csv(covid_url, index_col = "state")
covid_df_3

                     date  fips  cases  deaths
state
Washington     2020-01-21    53      1       0
Washington     2020-01-22    53      1       0
Washington     2020-01-23    53      1       0
Illinois       2020-01-24    17      1       0
Washington     2020-01-24    53      1       0
...                   ...   ...    ...     ...
Virginia       2020-07-20    51  78375    2031
Washington     2020-07-20    53  49949    1521
West Virginia  2020-07-20    54   5142     100
Wisconsin      2020-07-20    55  46754     855
Wyoming        2020-07-20    56   2187      24

[7714 rows x 4 columns]

In [11]:
# URL to pull population data
# Downloaded data from https://www.kaggle.com/headsortails/covid19-us-county-jhu-data-demographics/data?select=us_county.csv
# Saved as csv named population datasets

#Population data
#Load file to read
pop_file = ("Resources/population datasets.csv")

# Read csv file into DataFrame
pop_df = pd.read_csv(pop_file)
pop_df

,fips,county,state,state_code,male,female,median_age,population,female_percentage,lat,long
0,1001,Autauga County,Alabama,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.642730
1,1003,Baldwin County,Alabama,AL,101188,106919,42.8,208107,51.376936,30.727479,-87.722564
2,1005,Barbour County,Alabama,AL,13697,12085,39.9,25782,46.873788,31.869581,-85.393210
3,1007,Bibb County,Alabama,AL,12152,10375,39.9,22527,46.055844,32.998628,-87.126475
4,1009,Blount County,Alabama,AL,28434,29211,40.8,57645,50.673953,33.980869,-86.567380
...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Vega Baja Municipio,Puerto Rico,NaN,25580,27791,40.7,53371,52.071350,18.428461,-66.397926
3216,72147,Vieques Municipio,Puerto Rico,NaN,4332,4439,43.6,8771,50.609965,18.122662,-65.439095
3217,72149,Villalba Municipio,Puerto Rico,NaN,11169,11824,38.8,22993,51.424347,18.128155,-66.472816
3218,72151,Yabucoa Municipio,Puerto Rico,NaN,16541,17608,42.5,34149,51.562271,18.070468,-65.896311
3219,72153,Yauco Municipio,Puerto Rico,NaN,17475,18964,43.0,36439,52.043141,18.079728,-66.858276

In [12]:
# Build dataset with state data
# Reference https://www.washingtonpost.com/graphics/2020/national/states-reopening-coronavirus-map/

data = {'State':['Georgia', 'Texas', 'Washington'], 
        'Governor':['Brian Kemp (R)', 'Greg Abbott (R)', 'Jay Inslee (D)'],
       'Statewide Shelter in Place Date':['4/3/20', '4/2/20', '3/23/20'],
       'Phase One Reopening Date':['4/24/20', '5/1/20', '5/4/20'],
       'Total cases (2/29/20 to 7/21/20)': [145575, 332434, 47743],
       'Population': [10297484, 27885195, 7294336]} 
  
# Create DataFrame 
state_df = pd.DataFrame(data) 
  
# Print the output. 
state_df

,State,Governor,Statewide Shelter in Place Date,Phase One Reopening Date,Total cases (2/29/20 to 7/21/20),Population
0,Georgia,Brian Kemp (R),4/3/20,4/24/20,145575,10297484
1,Texas,Greg Abbott (R),4/2/20,5/1/20,332434,27885195
2,Washington,Jay Inslee (D),3/23/20,5/4/20,47743,7294336