## Covid-19 Data Exploration and Cleanup

### Note:  We wanted to find a total % of the population tested number.  But it was challenging to find negative test results or total test results.

In [1]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import datetime

# Output File (CSV), need 3 files for 3 sets of data for comparison
output_data_file_1 = "output_data/covid_df_1.csv"
output_data_file_2 = "output_data/covid_df_2.csv"
output_data_file_3 = "output_data/covid_df_3.csv"

### Source 1 Covid data import and clean up for file 1
#### This will be output into output_data/covid_df_1

In [2]:
#Load data for source 1
#Resource = https://covidtracking.com/data/download

# Load file 1 to read
covid_data_1 = "Resources/daily.csv"

# Read csv file into DataFrame, set state as index
covid_df_1 = pd.read_csv(covid_data_1, index_col = "state")
covid_df_1

,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
state,,,,,,,,,,,,,,,,,,,,,
AK,20200717,2081.0,163333.0,NaN,32.0,NaN,NaN,NaN,0.0,NaN,...,165414,0,0,e904def0e1f67ac528572f0506eef868c163a3f3,0,0,0,0,0,NaN
AL,20200717,63091.0,500024.0,NaN,1416.0,7584.0,NaN,967.0,NaN,521.0,...,563115,35,0,5bb063f5f4fe7c02d748b1fee5b811ac19d8f8ba,0,0,0,0,0,NaN
AR,20200717,31762.0,375735.0,NaN,464.0,2070.0,NaN,NaN,97.0,298.0,...,407497,12,76,c1ffb0bb728cd1ac03f834ec70d20070b443f395,0,0,0,0,0,NaN
AS,20200717,0.0,1037.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1037,0,0,b0c23fca3c4bb610a1625c60aca491eab6a71161,0,0,0,0,0,NaN
AZ,20200717,138523.0,626445.0,NaN,3466.0,6402.0,944.0,NaN,687.0,NaN,...,764968,91,106,fc227a78fd73620678a4d4cb836c128b38541778,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WA,20200126,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,7acb526e14f20a29cc74a0b32a37328bc6eac6c2,0,0,0,0,0,NaN
WA,20200125,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,9b52ca94dd2a996822542ea5f17a7363e7ad91cf,0,0,0,0,0,NaN
WA,20200124,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,094154f68e74bfc30b977cdee888f9c07be4360e,0,0,0,0,0,NaN
WA,20200123,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,e16af2a6a8f060355ff5ba499a28309a262c0b1e,0,0,0,0,0,NaN
WA,20200122,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8f8db794931706272489cddd51e917a4a69c8c9b,0,0,0,0,0,NaN

In [3]:
# Narrow down columns of covid_df_1 to state, date, positive
df_1 = covid_df_1[["date", "positive"]]
df_1

           date  positive
state
AK     20200717    2081.0
AL     20200717   63091.0
AR     20200717   31762.0
AS     20200717       0.0
AZ     20200717  138523.0
...         ...       ...
WA     20200126       2.0
WA     20200125       2.0
WA     20200124       2.0
WA     20200123       2.0
WA     20200122       2.0

[7521 rows x 2 columns]

In [ ]:
#df_1["date"] = df_1(['date']).astype('datetime64[ns]')
#df_1

# convert the 'Date' column to datetime format 
#df['Date'] = df['Date'].astype('datetime64[ns]')

In [4]:
# Filter out FL, GA, NY, TX and WA
states = ["FL", "GA", "NY", "TX", "WA"]
filter_df_1  = df_1[df_1.index.isin(states)]
filter_df_1

           date  positive
state
FL     20200717  327241.0
GA     20200717  135183.0
NY     20200717  405551.0
TX     20200717  307572.0
WA     20200717   44313.0
...         ...       ...
WA     20200126       2.0
WA     20200125       2.0
WA     20200124       2.0
WA     20200123       2.0
WA     20200122       2.0

[722 rows x 2 columns]

In [5]:
# Will add this to the other sections once we figure out the date range

# Set date range for data
start_date = "20200301"
end_date = "20200717"
#Now what do i do with the start and end dates??

# This does set the date range, but does not add it to the dataframe
# Set date range (use 3/1/20 through 7/1/20)
#filter_df_1 = pd.date_range(start = "3-1-2020", end = "7-1-2020", freq = "W")
#filter_df_1

# Sort by state, date
filter_df_1 = filter_df_1.sort_values(["state", "date"])
filter_df_1

           date  positive
state
FL     20200304       2.0
FL     20200305       9.0
FL     20200306       9.0
FL     20200307      14.0
FL     20200308      17.0
...         ...       ...
WA     20200713   40656.0
WA     20200714   41757.0
WA     20200715   42304.0
WA     20200716   43046.0
WA     20200717   44313.0

[722 rows x 2 columns]

In [6]:
# Rename state codes to Florida, Georgia, New York, Texas and Washington
filter_df_1.rename(index={"FL": "Florida", "GA": "Georgia", "NY": "New York","TX": "Texas", "WA":"Washington"})

                date  positive
state
Florida     20200304       2.0
Florida     20200305       9.0
Florida     20200306       9.0
Florida     20200307      14.0
Florida     20200308      17.0
...              ...       ...
Washington  20200713   40656.0
Washington  20200714   41757.0
Washington  20200715   42304.0
Washington  20200716   43046.0
Washington  20200717   44313.0

[722 rows x 2 columns]

In [7]:
# Rename columns for df_1 positive to cases to be consistent with other dataframes
filter_df_1.rename(columns = {"positive": "cases"})

           date    cases
state
FL     20200304      2.0
FL     20200305      9.0
FL     20200306      9.0
FL     20200307     14.0
FL     20200308     17.0
...         ...      ...
WA     20200713  40656.0
WA     20200714  41757.0
WA     20200715  42304.0
WA     20200716  43046.0
WA     20200717  44313.0

[722 rows x 2 columns]

In [8]:
# Set date range (use 3/1/20 through 7/1/20)
#filter_df_1 = pd.date_range(start = "3-1-2020", end = "7-1-2020", freq = "W")
#filter_df_1

filter_df_1.dtypes

date          int64
positive    float64
dtype: object

In [10]:
# Plot data from source 1
#x_values = ("date")
#y_values = ("positive")

#filter_df_1.plot(x_values, y_values, kind = "line")

In [11]:
# Save to csv file
filter_df_1.to_csv("output_data/covid_df_1.csv")

In [12]:
# For reference for next section
#Group by state, date and positive, use this when plotting in next section, can't save groupby as csv 
group_df_1 = filter_df_1.groupby(["state", "date"])
group_df_1.sum()

                positive
state date
FL    20200304       2.0
      20200305       9.0
      20200306       9.0
      20200307      14.0
      20200308      17.0
...                  ...
WA    20200713   40656.0
      20200714   41757.0
      20200715   42304.0
      20200716   43046.0
      20200717   44313.0

[722 rows x 1 columns]

### Source 2 data import and clean up for file 2
#### This will be output into output_data/covid_df_2

In [13]:
# Load data for source 2
# Reference https://www.kaggle.com/fireballbyedimyrnmom/us-counties-covid-19-dataset?select=us-counties.csv

covid_data_2 = "Resources/us-counties.csv"

# Read csv file into DataFrame, set state as index
covid_df_2 = pd.read_csv(covid_data_2, index_col = "state")
covid_df_2

                 date      county     fips  cases  deaths
state
Washington  1/21/2020   Snohomish  53061.0      1       0
Washington  1/22/2020   Snohomish  53061.0      1       0
Washington  1/23/2020   Snohomish  53061.0      1       0
Illinois    1/24/2020        Cook  17031.0      1       0
Washington  1/24/2020   Snohomish  53061.0      1       0
...               ...         ...      ...    ...     ...
Wyoming     7/19/2020  Sweetwater  56037.0    173       2
Wyoming     7/19/2020       Teton  56039.0    208       1
Wyoming     7/19/2020       Uinta  56041.0    221       0
Wyoming     7/19/2020    Washakie  56043.0     43       5
Wyoming     7/19/2020      Weston  56045.0      4       0

[350365 rows x 5 columns]

In [14]:
# Narrow down columns of covid_df_2 to state, date, cases
df_2 = covid_df_2[["date", "cases"]]
df_2

                 date  cases
state
Washington  1/21/2020      1
Washington  1/22/2020      1
Washington  1/23/2020      1
Illinois    1/24/2020      1
Washington  1/24/2020      1
...               ...    ...
Wyoming     7/19/2020    173
Wyoming     7/19/2020    208
Wyoming     7/19/2020    221
Wyoming     7/19/2020     43
Wyoming     7/19/2020      4

[350365 rows x 2 columns]

In [15]:
# Filter out Florida, Georgia, New York, Texas and Washington
states = ["New York", "Georgia", "New York", "Texas", "Washington"]
filter_df_2  = df_2[df_2.index.isin(states)]
filter_df_2

                 date  cases
state
Washington  1/21/2020      1
Washington  1/22/2020      1
Washington  1/23/2020      1
Washington  1/24/2020      1
Washington  1/25/2020      1
...               ...    ...
Washington  7/19/2020      5
Washington  7/19/2020    294
Washington  7/19/2020    780
Washington  7/19/2020     66
Washington  7/19/2020   9545

[56313 rows x 2 columns]

In [16]:
# Save to csv file
filter_df_2.to_csv("output_data/covid_df_2.csv")

In [17]:
# For reference for next section
#Group by state, date and positive, use this when plotting in next section, can't save groupby as csv 
group_df_2 = filter_df_2.groupby(["state", "date"])
group_df_2.sum()

                      cases
state      date
Georgia    3/10/2020     22
           3/11/2020     31
           3/12/2020     31
           3/13/2020     41
           3/14/2020     65
...                     ...
Washington 7/5/2020   37468
           7/6/2020   38517
           7/7/2020   39063
           7/8/2020   39661
           7/9/2020   40369

[621 rows x 1 columns]

### Source 3 data import and clean up for file 3
#### This will be output into output_data/covid_df_3

In [18]:
# Load data for source 3
#Reference = https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv

covid_url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"

# Read csv file into DataFrame, set state as index
covid_df_3 = pd.read_csv(covid_url, index_col = "state")
covid_df_3

                     date  fips  cases  deaths
state
Washington     2020-01-21    53      1       0
Washington     2020-01-22    53      1       0
Washington     2020-01-23    53      1       0
Illinois       2020-01-24    17      1       0
Washington     2020-01-24    53      1       0
...                   ...   ...    ...     ...
Virginia       2020-07-22    51  80393    2051
Washington     2020-07-22    53  51442    1534
West Virginia  2020-07-22    54   5461     102
Wisconsin      2020-07-22    55  48777     874
Wyoming        2020-07-22    56   2288      25

[7824 rows x 4 columns]

In [19]:
# Narrow down columns of covid_df_2 to state, date, cases
df_3 = covid_df_3[["date", "cases"]]
df_3

                     date  cases
state
Washington     2020-01-21      1
Washington     2020-01-22      1
Washington     2020-01-23      1
Illinois       2020-01-24      1
Washington     2020-01-24      1
...                   ...    ...
Virginia       2020-07-22  80393
Washington     2020-07-22  51442
West Virginia  2020-07-22   5461
Wisconsin      2020-07-22  48777
Wyoming        2020-07-22   2288

[7824 rows x 2 columns]

In [20]:
# Filter out Florida, Georgia, New York, Texas and Washington
states = ["Florida", "Georgia", "New York", "Texas", "Washington"]
filter_df_3  = df_3[df_3.index.isin(states)]
filter_df_3

                  date   cases
state
Washington  2020-01-21       1
Washington  2020-01-22       1
Washington  2020-01-23       1
Washington  2020-01-24       1
Washington  2020-01-25       1
...                ...     ...
Florida     2020-07-22  379611
Georgia     2020-07-22  139120
New York    2020-07-22  413595
Texas       2020-07-22  366561
Washington  2020-07-22   51442

[777 rows x 2 columns]

In [21]:
# Save to csv file
filter_df_3.to_csv("output_data/covid_df_3.csv")

In [22]:
# For reference for next section
#Group by state, date and positive, use this when plotting in next section, can't save groupby as csv 
group_df_3 = filter_df_3.groupby(["state", "date"])
group_df_3.sum()

                       cases
state      date
Florida    2020-03-01      2
           2020-03-02      2
           2020-03-03      3
           2020-03-04      3
           2020-03-05      4
...                      ...
Washington 2020-07-18  47889
           2020-07-19  48601
           2020-07-20  49949
           2020-07-21  50746
           2020-07-22  51442

[777 rows x 1 columns]

### Population data import and clean up 
#### This will be output into output_data/pop_df

In [23]:
# Pull population data
# Downloaded data from https://www.kaggle.com/headsortails/covid19-us-county-jhu-data-demographics/data?select=us_county.csv
# Saved as csv named population datasets

#Population data
#Load file to read
pop_file = ("Resources/population datasets.csv")

# Read csv file into DataFrame
pop_df = pd.read_csv(pop_file, index_col = "state")
pop_df

,fips,county,state_code,male,female,median_age,population,female_percentage,lat,long
state,,,,,,,,,,
Alabama,1001,Autauga County,AL,26874,28326,37.8,55200,51.315217,32.534923,-86.642730
Alabama,1003,Baldwin County,AL,101188,106919,42.8,208107,51.376936,30.727479,-87.722564
Alabama,1005,Barbour County,AL,13697,12085,39.9,25782,46.873788,31.869581,-85.393210
Alabama,1007,Bibb County,AL,12152,10375,39.9,22527,46.055844,32.998628,-87.126475
Alabama,1009,Blount County,AL,28434,29211,40.8,57645,50.673953,33.980869,-86.567380
...,...,...,...,...,...,...,...,...,...,...
Puerto Rico,72145,Vega Baja Municipio,NaN,25580,27791,40.7,53371,52.071350,18.428461,-66.397926
Puerto Rico,72147,Vieques Municipio,NaN,4332,4439,43.6,8771,50.609965,18.122662,-65.439095
Puerto Rico,72149,Villalba Municipio,NaN,11169,11824,38.8,22993,51.424347,18.128155,-66.472816
Puerto Rico,72151,Yabucoa Municipio,NaN,16541,17608,42.5,34149,51.562271,18.070468,-65.896311
Puerto Rico,72153,Yauco Municipio,NaN,17475,18964,43.0,36439,52.043141,18.079728,-66.858276

In [24]:
# Narrow down columns of pop_df to state and population
narrow_pop_df = pop_df[["population"]]
narrow_pop_df

             population
state
Alabama           55200
Alabama          208107
Alabama           25782
Alabama           22527
Alabama           57645
...                 ...
Puerto Rico       53371
Puerto Rico        8771
Puerto Rico       22993
Puerto Rico       34149
Puerto Rico       36439

[3220 rows x 1 columns]

In [25]:
# Filter out Florida, Georgia, New York, Texas and Washington
states = ["Florida", "Georgia", "New York", "Texas", "Washington"]
pop_filter_df  = narrow_pop_df[narrow_pop_df.index.isin(states)]
pop_filter_df

            population
state
Florida         263148
Florida          27785
Florida         182482
Florida          26979
Florida         576808
...                ...
Washington        4189
Washington       60236
Washington      216812
Washington       48593
Washington      249325

[581 rows x 1 columns]

In [26]:
# Save to csv file
pop_filter_df.to_csv("output_data/pop_df.csv")

### Dataset for state data with state information
#### This will be output into output_data/state_df

In [29]:
# Build dataset with state data
# Reference https://www.washingtonpost.com/graphics/2020/national/states-reopening-coronavirus-map/

data = {'State':['Florida', 'Georgia', 'New York', 'Texas', 'Washington'], 
        'Governor':['Ron DeSantis (R)','Brian Kemp (R)', 'Andrew Cuomo(D)','Greg Abbott (R)', 'Jay Inslee (D)'],
       'Statewide Shelter in Place Date':['4/2/20','4/3/20', '3/22/20','4/2/20', '3/23/20'],
       'Phase One Reopening Date':['5/4/20', '4/24/20', 'Still closed','5/1/20', '5/4/20'],
       'Total cases (2/29/20 to 7/21/20)': [379619, 145575, 408886, 332434, 47743],
       'Population': [20598139, 10297484, 19618453, 27885195, 7294336]} 
  
# Create DataFrame 
state_df = pd.DataFrame(data) 
  
# Print the output
state_df

,State,Governor,Statewide Shelter in Place Date,Phase One Reopening Date,Total cases (2/29/20 to 7/21/20),Population
0,Florida,Ron DeSantis (R),4/2/20,5/4/20,379619,20598139
1,Georgia,Brian Kemp (R),4/3/20,4/24/20,145575,10297484
2,New York,Andrew Cuomo(D),3/22/20,Still closed,408886,19618453
3,Texas,Greg Abbott (R),4/2/20,5/1/20,332434,27885195
4,Washington,Jay Inslee (D),3/23/20,5/4/20,47743,7294336

In [30]:
# Save to csv file
state_df.to_csv("output_data/state_df.csv")

In [ ]:
# For reference for next section
#Group by state, date and positive, use this when plotting in next section, can't save groupby as csv 
#group_df_1 = filter_df_1.groupby(["state", "date"])
#group_df_1.sum()