In [1]:
import pandas as pd

In [12]:
# intialise data of lists. 
data = {'State':['Georgia', 'Texas', 'Washington'], 
        'Governor':['Brian Kemp (R)', 'Greg Abbott (R)', 'Jay Inslee (D)'],
       'Statewide Shelter in Place Date':['4/3/20', '4/2/20', '3/23/20'],
       'Phase One Reopening Date':['4/24/20', '5/1/20', '5/4/20'],
       'Total cases (2/29/20 to 7/21/20)': [145575, 332434, 47743],
       'Population': [10297484, 27885195, 7294336]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
# Print the output. 
df

,State,Governor,Statewide Shelter in Place Date,Phase One Reopening Date,Total cases (2/29/20 to 7/21/20),Population
0,Georgia,Brian Kemp (R),4/3/20,4/24/20,145575,10297484
1,Texas,Greg Abbott (R),4/2/20,5/1/20,332434,27885195
2,Washington,Jay Inslee (D),3/23/20,5/4/20,47743,7294336